html{
  font-size: 2rem;
}

body{
  background-color: pink;
}

h1{
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "arial";
  font-size: 3rem;
}

table{
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

td{
  border: 3px solid black;
  height: 4rem;
  text-align: center;
  padding: 0px;
  padding-top: 5%;
  width: 33.3%;
  font-size: 3rem;
  font-family: 'Fredoka One';
  background-color: black;
  color: white;
  border-radius: 4.5px;
}

section{
  width: 4.8rem;
  margin-left: auto;
  margin-right: auto;
}

button{
  outline: none;
  border: none;
  box-shadow: none;
  padding: 6px;
  font-size: .8rem;
  margin-top: .5rem;
  cursor: pointer;
  background-color: black;
  border-radius: 3px;
  color: white;
  width: 5rem;
}
